*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(8,8,86,1) 35%, rgba(0,212,255,1) 100%);
}
.title{
    background-color: white;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: center;
    margin: 0 auto;

}

.product {
    width: 300px;
    margin: 20px;
    background-color: white;
    padding: 10px;
    box-shadow: 10px 8px 6px -6px white;
    border-style: double;
     
}

.product:hover{
    transform: scale(1.1);
}
.productTitle{
    text-align: center;
    border: solid lightblue 1px;
    font-family: 'Bangers', cursive;

}
.cardone{
    position: relative;
}

.pic{
    position: absolute;
    top: 170px;
    left:30px;

}
img {
    margin: 0 auto;
    display: block;
    max-width: 250px;

}
.description{
    text-align: justify;
   
   

}

.Available {
    background-color: darkgrey;
    color: yellow;
}

.pricing {
    font-weight: bold ;
    
}

.specification {
    font-weight: bold
}
